@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-rzrzlz");
  src: url("fonts/icomoon.eot?#iefix-rzrzlz") format("embedded-opentype"), url("fonts/icomoon.woff?-rzrzlz") format("woff"), url("fonts/icomoon.ttf?-rzrzlz") format("truetype"), url("fonts/icomoon.svg?-rzrzlz#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/icomoon.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/icomoon.scss */
.icon-pencil:before {
  content: "\e905";
}

/* line 30, ../sass/icomoon.scss */
.icon-file-text:before {
  content: "\e922";
}

/* line 34, ../sass/icomoon.scss */
.icon-bin:before {
  content: "\e9ac";
}

/* line 10, ../sass/style.scss */
body {
  background-color: #f2efe8;
  font-size: 33%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

/* line 17, ../sass/style.scss */
header {
  font-weight: 500;
  margin-bottom: 2em;
  background-color: #fffcf5;
}
/* line 21, ../sass/style.scss */
header ul {
  margin: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 23, ../sass/style.scss */
header ul li {
  float: left;
  list-style-type: none;
}
/* line 27, ../sass/style.scss */
header ul li.title p {
  margin: 0.6em;
}
/* line 31, ../sass/style.scss */
header ul li.addBtn {
  float: right;
  margin-top: 2.5em;
  margin-right: 3em;
}
/* line 35, ../sass/style.scss */
header ul li.addBtn a {
  background-color: #5bc0de;
  padding: 1em 2em;
  border-radius: 3px;
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}
/* line 46, ../sass/style.scss */
header ul li.gitBtn {
  float: right;
  margin-top: 2.5em;
  margin-right: 2em;
}
/* line 50, ../sass/style.scss */
header ul li.gitBtn a {
  background-color: #5bc0de;
  padding: 1em 2em;
  border-radius: 3px;
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}
/* line 60, ../sass/style.scss */
header ul li p {
  font-size: 5em;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 0.1em;
}

/* line 74, ../sass/style.scss */
.container .content {
  position: relative;
  text-align: left;
  font-size: 3em;
  background-color: #fffcf5;
  padding: 1.2em;
  margin: 0 auto 0.5em;
  width: 70%;
  border-radius: 3px;
}
/* line 85, ../sass/style.scss */
.container .content .text header {
  padding: 0;
  margin-bottom: 0.5em;
}
/* line 89, ../sass/style.scss */
.container .content .text header span.content-title {
  font-size: 1.5em;
  font-weight: bold;
}
/* line 93, ../sass/style.scss */
.container .content .text header span.content-date {
  font-size: 1.1em;
  color: #c4c0ae;
  float: right;
}
/* line 102, ../sass/style.scss */
.container .content .text p {
  font-size: 1.2em;
  line-height: 1.5;
}
/* line 107, ../sass/style.scss */
.container .content .text footer {
  font-size: 1.1em;
  color: #337ab7;
}
/* line 110, ../sass/style.scss */
.container .content .text footer a {
  text-decoration: none;
  margin-right: 2em;
  float: right;
}
/* line 119, ../sass/style.scss */
.container .page-btn {
  width: 10%;
  margin: 2em auto 0.5em;
  font-size: 1.5em;
}
/* line 123, ../sass/style.scss */
.container .page-btn button {
  padding: 0.7em 1em;
  border-radius: 5px;
  color: white;
  background-color: #2FAED4;
}
/* line 132, ../sass/style.scss */
.container .page-tag {
  width: 5%;
  margin: 0 auto;
  font-size: 3em;
  font-weight: bold;
}

/* line 141, ../sass/style.scss */
.containerStyle {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  opacity: 0;
  pointer-events: none;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 155, ../sass/style.scss */
.containerStyle .modal-content {
  position: relative;
  background-color: #ffffff;
  border-radius: 6px;
  width: 600px;
  margin: 30px auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* line 163, ../sass/style.scss */
.containerStyle .modal-content .modal-header {
  padding: 15px;
}
/* line 165, ../sass/style.scss */
.containerStyle .modal-content .modal-header .modal-title {
  line-height: 1.42857143;
  font-size: 4em;
  font-weight: 500;
  margin: 0;
}
/* line 171, ../sass/style.scss */
.containerStyle .modal-content .modal-header .close {
  float: right;
  text-decoration: none;
  font-size: 3em;
  font-weight: bold;
  color: #000;
  cursor: auto;
}
/* line 181, ../sass/style.scss */
.containerStyle .modal-content .modal-body {
  padding: 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
/* line 187, ../sass/style.scss */
.containerStyle .modal-content .modal-body .form-group label {
  display: inline-block;
  max-width: 100%;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
/* line 195, ../sass/style.scss */
.containerStyle .modal-content .modal-body .form-group input[type="text"] {
  border: 1px solid #ccc;
  display: block;
  font-weight: 500;
  width: 98%;
  height: 28px;
  padding: 3px 5px;
  margin-bottom: 1em;
  border-radius: 5px;
}
/* line 206, ../sass/style.scss */
.containerStyle .modal-content .modal-body .form-group textarea {
  border: 1px solid #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 98%;
  font-weight: 500;
  height: auto;
  display: block;
  padding: 3px 5px;
  margin-bottom: 0.5em;
  border-radius: 5px;
}
/* line 220, ../sass/style.scss */
.containerStyle .modal-content .modal-footer {
  padding: 1.2em;
  overflow: hidden;
  *zoom: 1;
}
/* line 223, ../sass/style.scss */
.containerStyle .modal-content .modal-footer a {
  float: right;
  text-decoration: none;
  padding: 1em 1.2em;
  background-color: #337ab7;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0.2em;
  margin-right: 0.2em;
  border-radius: 3px;
}

/* line 242, ../sass/style.scss */
.containerStyle:target {
  opacity: 1;
  pointer-events: auto;
}
